
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.nav-wrapper {
    background-color: #009900;
    color: rgba(143, 20, 20, 0.986);
    
}
.info {
    margin: auto; width:60%; text-align: center; font-family: cursive;
}

#logo{
width:400px; height:174px;
}

#fixIt {
    align-content: center;
    margin: auto;
    width: 60%;
    text-align: center;
    font-family: cursive;   
}
#zip_code, placeholder {
    text-align: center;
    font-size: 35px;
    border-bottom-color: #009900;
    border-bottom-style: solid;
    width: 300px;  
}
#shelterDetails {
  
  width: 50%;
  margin: auto;
}


/* The side navigation menu */
.sidebar {
    margin: 0;
    padding: 0;
    width: 250px;
    /*background-color: #f1f1f1; */
    top: 65px;
    text-overflow: ellipsis;
    overflow: hidden;
    position: fixed;
    min-height: 85%;
    max-height: 85%;
    bottom: 0;
    overflow: scroll;
  }
  
  /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  /* On screens that are less than 700px wide, make the sidebar into a topbar , we also style other page contents*/
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}

    #logo {
        width: 100%;
        height:100%;
    }
    h3{
        font-size: 20px;
    }
    #zip_code, placeholder {
        font-size: 20px;
        text-align: center;
    }
    #fixIt {
        margin: auto;
        width: 100%;
    }
  }
  
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }